body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    width: 60%;
    margin: auto;
    background-color: #dadada;
}

header {
    display: flex;
    width: 60%;
    margin: 20px auto;
    background-color: white;
    text-align: left;
    height: auto;
}

header > a {
    height: 100%;
    width: 100%;
    margin: 10px;
}

a {
    color: #399ae5;
    text-decoration: none;
}

.container {
    display: flex;
    width: 60%;
    margin: auto;
    background-color: white;
    flex-direction: column;
}

.load_settings {
    height: 50px;
    margin: 5px 15px;
    padding: 0.8em;
}

.time_settings {
    display: flex;
    justify-content: space-around;
    width: 90%;
    height: 80px;
    padding: 0.8em;
}

.search_bar > input {
    display: flex;
    width: 90%;
    height: 4em;
    margin: auto;
    padding: 0.8em;
    border-top: 1px inset #dadada;
    border-left: none;
    border-right: none;
    border-bottom: none;
    margin-bottom: 1em;
}

.hide {
    display: none;
}

.sub {
    margin-left: 20px;
}

.block {
    display: flex;
    min-height: 50px;
    width: 90%;
    margin: auto;
    padding: 20px;
    border-top: solid 1px #ECE9E9;
}

.block:hover {
    background-color: #f3f3f3;
    border: 1px solid transparent grey;
}

.file-directory,
.folder-directory {
    display: flex;
    flex-direction: column;
    height: 5em;
    margin: 1.5em;
}

p {
    margin: 0.5em;
}

.directory_name {
    word-break: break-word;
    font-size: 1.2em;
    padding-bottom: 10px;
}

.copy_value {
    min-width: 80px;
    margin: auto;
    text-align: center;
}

.show_image {
    min-width: 80px;
    margin: auto;
    text-align: center;
}

.copy_value a {
    display: block;
    height: 100%;
}

footer {
    display: flex;
    justify-content: center;
    align-content: center;
    max-width: 100%;
    width: 60%;
    height: 5vh;
    background-color: white;
    margin: 20px auto;
}

footer > div {
    display: flex;
    align-items: center;
}
